<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p>To go to message submit form <a href="/new">click here</a></p>
    <h3>Messages</h3>
    <ul>
      <% for (let i = 0; i < messages.length; i++) { %>
      <li>
        At <%= messages[i].added %>, <%= messages[i].user %> wrote:- <%=
        messages[i].text %>
      </li>
      <% } %>
    </ul>
  </body>
</html>
